input[type=text] {
    width: 75%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600px;
    background-color: white;
    background-position: 15px 15px;
    background-repeat: no-repeat;
    padding: 10px 0px 10px 5px;
    background-size: 20px;
}
input[type=text]:focus {
    outline: 1px solid blue;
}
.grid {
    display: grid;
    justify-content: left;
    grid-template-columns: 170px 600px 400px;
    column-gap: 20px;
    margin-left: 50px;
}
.grid > div { font-size: 14px;
}
.grid-item-1 {
    grid-column: 1 / span 2;
}
.grid-item-2 {
    grid-column-start: 3;
    grid-column-end: 4;
    font-family: arial, sans-serif;
}
.grid-item-3 {
    font-size: 12px;
}
.grid-item-4 {
    grid-column-start: 2;
    grid-column-end: 3;
}
@media only screen and (max-width: 1000px) {
    .grid-item-3 {
        display: none;
    }
}
